@{
    ViewBag.Title = "Index";
}

<h2>Reports</h2>

<h3>Guests</h3>
<p>
    @Html.ActionLink("Ticket Revenue Report", "TicketRevenue", "Reports")
</p>
<h3>Rides</h3>
<p>
    @Html.ActionLink("Ride Popularity Report", "RidePopularity", "Reports")
</p>
