@{
    ViewBag.Title = "Index";
}

<h2>Reports</h2>

<p>
    @Html.ActionLink("Ticket Revenue Report", "TicketRevenue", "Reports")
</p>
<p>
    @Html.ActionLink("Ride Popularity Report", "RidePopularity", "Reports")
</p>
