@model IEnumerable<ThemeParkManagementSystem.Models.RideCountResult>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Column1)

        </th>

    </tr>


</table>