@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h1>Theme Park Management System</h1>
    <p class="lead">Group 11 - Matthew Potter, Jeffrey Pernia, Diego Perez, Brandon Le, Joby Santhosh</p>
</div>

<h2>The Scenario</h2>
<p>
    To manage information about a specific theme park and collect data including number of customers and average number per month; average number of rides broken down / needing maintenance; most frequently ridden rides per month; number of rainouts per month (and which month); spikes in average number of customers on a weekly and monthly basis, etc.
</p>

<h2>Our Database</h2>
<p>Our database centers around four main entities: The Guest, The Staff, The Rides, and The Shops. Each entity has a relationship table between itself and other entities, with Rides and Guest having Maintenance and Ticket entities respectively.</p>
<p>The database is built from a management perspective, allowing for the client to track how employee's and guests spend their time, the downtime of rides, and the revenue of shops.</p>
<p><img src="~/Images/Schema.PNG"/></p>

<h2>Our Code</h2>
<p>Our front end is an ASP.NET Project that utilizes MVC Framework, Entity Framework. and Identity. This allows our code to be well organized and maintain readability, without losing any performance or becoming less efficient.</p>
<p><a href="https://github.com/mattpotter28/ThemeParkManagementSystem">Our GitHub</a></p>