@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h1>Theme Park Management System</h1>
    <p class="lead">Group 11 - Matthew Potter, Jeffrey Pernia, Diego Perez, Brandon Le, Joby Santhosh</p>
</div>

<h2>The Scenario</h2>
<p>
    To manage information about a specific theme park and collect data including number of customers and average number per month; average number of rides broken down / needing maintenance; most frequently ridden rides per month; number of rainouts per month (and which month); spikes in average number of customers on a weekly and monthly basis, etc.
</p>

<h2>Our Database</h2>
<p>Some info about how we decided on the current entities and attributes</p>
<p>Screencap of the schema</p>

<h2>Our Code</h2>
<p>we used asp.net with mvc and entity framework</p>
<p>link to the github</p>