@{
    ViewBag.Title = "Theme Park Management System";
}

<div class="jumbotron">
    <h1>Theme Park Management System</h1>
    <p class="lead">Group 11 - Matthew Potter, Jeffrey Pernia, Diego Perez, Brandon Le, Joby Santhosh</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2><a href="~/Rides" class="btn btn-primary" role="button">Rides</a></h2>
    </div>
    <div class="col-md-3">
        <h2><a href="~/Shops" class="btn btn-primary" role="button">Shops</a></h2>
    </div>
    <div class="col-md-3">
        <h2><a href="~/Staff" class="btn btn-primary" role="button">Staff</a></h2>
    </div>
    <div class="col-md-3">
        <h2><a href="~/Guests" class="btn btn-primary" role="button">Guests</a></h2>
    </div>
</div>