@model IEnumerable<ThemeParkManagementSystem.Models.RideCount>
    @{
    ViewBag.Title = "Index";

}

<h2>Index</h2>


<table>
    <tr>
        <th>
            @ViewData["RideCount"]


        </th>


    </tr>


</table>
